// Footer
.footer {
  padding: 80px 0;

  @media (max-width: $breakpoint768) {
    padding: 70px 0 40px;
  }

  // .footer__inner

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 40px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 40px;
    }
  }

  // .footer__info

  &__info {
    flex: 0 1 620px;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }
  }

  // .footer__title

  &__title {
    margin-bottom: 20px;
    font-size: 60px;

    @media (max-width: $breakpoint992) {
      font-size: 36px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .footer__texts

  &__texts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 40px;

    @media (max-width: $breakpoint992) {
      row-gap: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 0;
    }
  }

  // .footer__text

  &__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    color: var(--white);

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .footer__logo

  &__logo {
    display: flex;
    width: fit-content;
    margin-bottom: 60px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }

  // .footer__logo-img

  &__logo-img {
    &--mobile {
      display: none;
    }

    @media (max-width: $breakpoint768) {
      display: none;

      &--mobile {
        display: block;
        height: auto;
      }
    }
  }

  // .footer__qr

  &__qr {
    @media (max-width: $breakpoint768) {
      margin: 0 auto;
    }
  }

  // .footer__qr-inner

  &__qr-inner {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    background:
      linear-gradient(#151515 0 0) padding-box,
      /*this is your grey background*/
      linear-gradient(to right, #F3D27E, #D46605) border-box;
    border: 2px solid transparent;
  }

  // .footer__qr-pic

  &__qr-pic {
    border-radius: 6px;
  }
}

.footer {

  // .footer__bottom

  &__bottom {
    margin-top: 60px;
    padding-top: 36px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    @media (max-width: $breakpoint768) {
      padding-top: 22px;
    }
  }

  // .footer__nav

  &__nav {
    margin-bottom: 64px;
  }

  // .footer__nav-list

  &__nav-list {
    display: flex;
    align-items: center;
    column-gap: 70px;
    row-gap: 24px;

    @media (max-width: $breakpoint992) {
      column-gap: 40px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .footer__nav-item

  &__nav-item {}

  // .footer__nav-link

  &__nav-link {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 120%;
    font-size: 24px;
    color: var(--white);

    @media (hover:hover) {
      &:hover {
        color: var(--orange);
      }
    }

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .footer__copy

  &__copy {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.7);

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }
}