// Header
.header {}

// Navbar
.nav {}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  @media (max-width: $breakpoint992) {
    border: 0;
  }
}

.logo {
  img {
    min-width: 152px;
    max-width: 246px;
    width: 100%;
    height: auto;

    @media (max-width: $breakpoint768) {
      max-width: 152px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-left: auto;

  // .menu__item
  &__item {}

  // .menu__item-link
  &__item-link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
    transition: color 0.2s linear;

    @media (hover:hover) {
      &:hover {
        color: var(--orange);
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: 1300px) {
  .logo {
    z-index: 23;
  }

  // .menu
  .menu {
    position: fixed;
    background: var(--bg);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

    &.active {
      display: flex;
      pointer-events: all;
      z-index: 22;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: var(--orange);
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: var(--orange);
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: var(--white);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: var(--white);
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 24px;
  }

  // .menu__link
  .menu__item-link {}
}

.right-menu {
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin-left: 54px;

  @media screen and (max-width: 1300px) {
    margin-left: auto;
    margin-right: 20px;
  }

  @media (max-width: $breakpoint768) {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }

  // .right-menu__item

  &__item {

    &:has(.right-menu__btn) {
      border-radius: 8px;
      background:
        linear-gradient(#151515 0 0) padding-box,
        /*this is your grey background*/
        linear-gradient(to right, #F3D27E, #D46605) border-box;
      border: 2px solid transparent;
    }
  }

  // .right-menu__tokens

  &__tokens {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    background: linear-gradient(90deg, #f3d27e 0%, #a45a2c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
      font-size: 16px;
    }

    @media screen and (max-width: 1300px) {
      display: none;
    }
  }

  // .right-menu__btn

  &__btn {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    padding: 10px 14px;
    border-radius: 8px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    background: linear-gradient(150deg, #f3d27e 0%, #c9733e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: $breakpoint768) {
      padding: 5px 14px;
      font-size: 14px;
      border-radius: 8px;
    }
  }
}

.menu {

  // .menu__lang

  &__lang {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 4px;

    &.active {
      .menu__lang-list {
        margin-top: 10px;
        max-height: 300px;
        border-color: var(--white);
      }

      .menu__lang-selected-text img {
        transform: rotate(180deg);
      }
    }

    @media screen and (max-width: 1300px) {
      margin-top: 20px;
      flex-direction: column;
      min-height: 300px;
    }
  }

  // .menu__lang-selected

  &__lang-selected {
    display: flex;
    align-items: center;
    column-gap: 4px;
    border: 0;
    outline: 0;
    background-color: transparent;
  }

  // .menu__lang-icon

  &__lang-icon {}

  // .menu__lang-selected-text

  &__lang-selected-text {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--white);
  }

  // .menu__lang-list

  &__lang-list {
    position: absolute;
    top: 110%;
    left: 0;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--bg);
    transition: 0.2s linear;

    @media screen and (max-width: 1300px) {
      position: static;
      margin: 0 auto;
    }
  }

  // .menu__lang-item

  &__lang-item {
    display: flex;

    &:first-child {
      .menu__lang-link {
        padding-top: 8px;
      }
    }

    &:last-child {
      .menu__lang-link {
        padding-bottom: 8px;
      }
    }
  }

  // .menu__lang-link

  &__lang-link {
    padding: 4px 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--white);
    transition: color 0.2s linear;

    @media (hover:hover) {
      &:hover {
        color: var(--orange);
      }
    }
  }
}

#connectAddress {
  display: none;
}
.connect__connected {
  border-style: none !important;
  #connectButton {
    display: none;
  }
  #connectAddress {
    display: inline;
  }
}
#nbncBalance {
  font-size: inherit;
}
.right-menu__tokens {
  display: none;
  &.visible {
    display: block;
  }
}