.hero {
  padding: 80px 0;

  @media screen and (max-width: 991px) {
    padding-top: 40px;
  }

  @media (max-width: $breakpoint768) {
    padding-top: 40px;
  }

  // .hero__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    @media (max-width: $breakpoint992) {
      row-gap: 24px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 18px;
    }
  }

  // .hero__logo-wrapper
  &__logo-wrapper {
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -41%);
      background-image: url('../img/icons/cirkles.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 1170px;
      height: 1170px;
      user-select: none;
      pointer-events: none;
    }
  }

  // .hero__title

  &__title {
    font-size: 80px;

    @media (max-width: $breakpoint992) {
      font-size: 60px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 40px;
    }
  }

  // .hero__logo

  &__logo {
    height: auto;

    @media (max-width: $breakpoint992) {
      width: 240px;
    }

    @media (max-width: $breakpoint768) {
      width: 158px;
    }
  }

  // .hero__subtitle

  &__subtitle {
    max-width: 500px;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    color: #C1AE9A;

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .hero__calc

  &__calc {
    width: 100%;
  }
}


.calc {

  // .calc__change

  &__change {
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
    margin-bottom: 32px;

    @media (max-width: $breakpoint992) {
      column-gap: 20px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .calc__change-row

  &__change-row {
    flex: 1 1 500px;
    border: 1px solid #C1AE9A;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    backdrop-filter: blur(100px);
    background: linear-gradient(134deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);

    @media (max-width: $breakpoint992) {
      padding: 4px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      border-radius: 5px;
    }
  }

  // .calc__change-input

  &__change-input {
    background-color: transparent;
    width: 100%;
    padding: 10px 32px;
    border: 0;
    outline: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-align: right;
    color: #fff;

    @media (max-width: $breakpoint992) {
      padding: 10px 20px;
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      padding: 10px 12px;
      font-size: 18px;
    }
  }

  // .calc__change-token

  &__change-token {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    padding: 18px 24px;
    width: fit-content;
    min-height: 96px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.09);

    @media (max-width: $breakpoint992) {
      min-height: 58px;
      padding: 12px 6px;
    }

    @media (max-width: $breakpoint768) {
      border-radius: 3px;
    }
  }

  // .calc__change-token-icon

  &__change-token-icon {
    @media (max-width: $breakpoint992) {
      width: 24px;
      height: 24px;
    }

    @media (max-width: $breakpoint768) {}
  }

  // .calc__change-token-text

  &__change-token-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #fff;

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 13px;
    }
  }

  // .calc__change-arrow

  &__change-arrow {

    @media (max-width: $breakpoint768) {
      transform: rotate(90deg);
      width: 20px;
    }
  }

  // .calc__footer

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: $breakpoint992) {
      max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  // .calc__info

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (max-width: $breakpoint992) {
      row-gap: 10px;
    }

    @media (max-width: $breakpoint768) {
      text-align: center;
    }
  }

  // .calc__text

  &__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #fff;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 12px;
    }
  }

  // .calc__btn

  &__btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px 56px;
    height: 94px;
    border-radius: 15px;
    background: linear-gradient(150deg, #f3d27e 0%, #c9733e 100%);
    border: 0;
    outline: 0;

    white-space: nowrap;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    color: #000;

    @media (max-width: $breakpoint992) {
      height: 48px;
      padding: 12px 16px;
      font-size: 20px;
      min-width: 162px;
      border-radius: 5px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }
}

.hero__balance {
  display: none;

  @media screen and (max-width: 1300px) {
    &.visible {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      row-gap: 4px;
    }
  }

  @media (max-width: $breakpoint768) {
    row-gap: 2px;
  }
}

.hero__balance-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);

  @media (max-width: $breakpoint768) {
    font-size: 14px;
  }
}

.hero__balance-sum {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  background: linear-gradient(90deg, #f3d27e 0%, #a45a2c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    font-size: 20px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 22px;

    span {
      font-size: 16px;
    }
  }
}

#submitButton .spinner {
  display: none;
}
#submitButton.waiting .spinner {
  display: block;
}